# a comment - this is ignored
# *.a       # no .a files
# !lib.a    # but do track lib.a, even though you're ignoring .a files above
# /TODO     # only ignore the root TODO file, not subdir/TODO
# build/    # ignore all files in the build/ directory
# doc/*.txt # ignore doc/notes.txt, but not doc/server/arch.txt

archive/
docs/
tests/
tonne/
tools/

shows/
media/audio/

!media/audio/makeplaylist.txt
!shows/show.demo.js

index.md
README.copy.md
readme.txt

T1667.music
T1667.techno
T2200.music
T2200W.music
T2200W.techno

playlist.txt

.gitignore

